@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@import "keen-slider/keen-slider.min.css";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --section-gradient-start: #f0fdf4;
  /* --section-gradient-end: #E3F2FD; */
  --section-gradient-end:#f0fdfa;
  --section-gradient-middle: #ecfdf5;
  --background-gray:#F9FAFB;
  --color-700: #616161;
  --color-base-100: #ffffff;
  --color-base-200: #222;
  --color-gray-900: #111827;
   --header-bg-start: #d1fae5; /* green-100 */
  --header-bg-end: #a7f3d0;   /* emerald-100 */
  --header-border: #d1fae5;   /* green-100 */
  --header-title: #065f46;    /* green-800 */
  --header-badge-bg: #d1fae5; /* green-100 */
  --header-badge-text: #059669; /* green-600 */
}


.dark {
  --background: #1B2432;
  --foreground: #ededed;
  --color-base-100: #202833;
  --color-base-200: #222;
  --color-base-300: #333;
  --color-base-content: #e0e0e0;
  --section-gradient-start: #15191f;
   --section-gradient-middle: #111315;
  --section-gradient-end: #131822;
  --background-gray:#030303;
   --color-700: #E0E0E0;
   --color-gray-900: #F8FAFC;
    --header-bg-start: #1a2b26; 
  --header-bg-end: #12352f;   
  --header-border: #26433b;   
  --header-title: #a7f3d0;    
  --header-badge-bg: #1a2b26; 
  --header-badge-text: #6ee7b7;
  
}

@theme {
  --color-primary: #0e9f6e;
  --color-secondary: #8bc34a;
  /* --color-button-primary: */
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #ffc107;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #607d8b;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #2196f3;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #4caf50;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #ff9800;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #f44336;
  --color-error-content: oklch(27% 0.105 12.094);

  /* Base colors */
  --color-base-100: #e8f5e9;
  --color-base-200: oklch(100% 0 0);
  --color-base-300: #e0e0e0;
  --color-base-content: oklch(21% 0.006 285.885);

  /* Custom radius values */
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sidebar-link {
  color: var(--color-700);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-link:hover {
  background-color: var(--section-gradient-start);
  color: var(--color-success);
}

.dark .sidebar-link:hover {
  background-color: var(  --background);
  color: var(--color-success);
}


.active-link {
  background-color: var(--section-gradient-start);
  color: var(--color-success);
  font-weight: 600;
}

.dark .active-link {
  background-color: var(--background);
  color: var(--color-success);
}

